footer .container{
    max-width:1170px;
    margin: auto;
  }

  .fst-foot-section{
    background-color: rgb(2,130,249);
    padding: 20px 0;

    .space-around{
      display:flex;
      justify-content: space-around;
    }
  
    a{
      text-decoration: none;
    }
  
    .ft-flex-start{
      display:flex;
      justify-content: flex-start;
      align-items: center;
      color: white;
      flex-basis: calc(100% / 6);
      text-transform: uppercase;
      align-items: center;
  
      img{
        height: 70px;
        max-width: 30%;
        margin-right: 15px;
      }
  
      span{
        font-size: 12px;
        width:50%;
      }
    }
  }

  .snd-foot-section{
    background-image: url("../../../public/footer-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
    color: white;

    .flex-column{
      display:flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 300px;
      align-content: flex-start;
    }
  }

  .trd-foot-section{
    background-color: rgb(48,48,48);

    .footer-blue-button{
      border: solid 1px rgb(2,130,249);
      display: inline-block;
      color:white;
      text-transform: uppercase;
      text-decoration: none;
      width:200px;
      height: 35px;
      line-height: 35px;
      text-align: center;
      margin:10px 0;
    }

    .space-between{
      display:flex;
      justify-content: space-between;
      align-items: center;

      span{
        color:rgb(2,130,249);
        text-transform: uppercase;
      }
    }
  }

  .socials{
    list-style-type : none;
    color: white;

    li{
      display: inline-block;
      padding: 0 10px;
    }
  }

  .column-wrap{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 300px;

    ul{
      list-style-type: none;
      margin-right: 20px;
      padding-left:0px;
  
      li{
        font-size: 14px;
        color: rgb(180, 161, 161);
      }
  
      li:first-child{
        font-size: 18px;
        margin-bottom:10px;
        text-transform: uppercase;
        color:white;
      }
    }
  }